* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.main-container {
    background-color: #a4dcf8;
    border-radius: 5px;
    width: 260px;
    margin: 60px auto;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    gap: 5px
}

.display {
    border: 1px solid black;
    background-color: #5290b1;
    height: 50px;
    grid: 1 / 1 / 2 / -1;
    border-radius: 5px;
    text-align: end;
    font-size: 40px;
}

.all-btns {
    grid: 2 / 1 / 3 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 5px;
}

.btn.span-2 {
    width: 112px;
    height: 50px;
    grid-column: span 2;
}

.btn {
    background-color: #d8b4fe;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

